.navigation {
  width: 150px;
  height: 100%;
  float: left;
  margin: 40px 20px 30px 50px; }
  .navigation ul {
    list-style: none; }
  .navigation li {
    padding-bottom: 10px; }
  .navigation li:hover {
    font-weight: bold; }

@font-face {
  font-family: "romana";
  src: url("../static/fonts/romanabtroman.ttf"); }

body {
  color: #000;
  font: normal normal 1.6rem/1.65 Andale Mono, Tahoma, Geneva, sans-serif; }

.index-content {
  float: left;
  width: 80%;
  height: 100%;
  margin: 30px 0 40px 20px; }

.navigation li {
  font: normal normal 1.2rem Andale Mono, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase; }
