//@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')
//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400')
//@import url('https://fonts.googleapis.com/css?family=Heebo')

//@font-face

//font-family TypnicTitling
//  font-style normal
//  src url(/fonts/TypnicTitling.otf)

*
  margin 0
  padding 0
  //box-sizing border-box

body
  font-family 'Lato', sans-serif
  min-width 1000

p, a
  line-height 1.6
  margin 16
  text-decoration none

div
  float left

.h1
  padding-top 20
  font-size 28

.h2
  font-size 20

/**
Default layout
----------------------
|     |              |
| nav |   content    |
|     |              |
|     |              |
----------------------
 */
//
//.tiles > *
//  float left

.nav
  width 220
  height 100%
  background #fff

  p, a
    color #000

.content
  width auto // TODO
  //background #FAECFF
