doctype html5
html
  head
    link(rel='stylesheet', href='/css/default.css')
    block style
    block js
    title Miranda Steele

  body
    .nav
      block nav-content
    .content
      block content