extend processing

block style
  link(rel='stylesheet', href='/css/homepage.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400')

block nav-content
  p.h1 mksteele
  //p.h2 ###

block content
  //script.
  //  console.log("#{message}");
  //  var message = "Miranda"

  .main-content
    #top-content
      #nightsky
        canvas#bg(data-processing-sources='/sketches/nightsky.pde')
      #photo1
        img(src='/img/exhibit1.JPG', width=615, height=450)

    #bottom-content
      #photo2
        img(src='/img/exhibit2.jpg', width=535, height=233)

      #tati-photo
        img(src='/img/tati.gif')