//
   Created by miranda on 11/29/16.
doctype html5
html
    head
        link(rel='stylesheet', href='/css/sketches.css')
        title reading
    body
        .main-content
            #leftnav
                p processing sketches
                a#nightsky(href="no-javascript.html") night sky
                a#bubbles(href="no-javascript.html") bubbles

            #container
                canvas#bg(data-processing-sources='/sketches/nightsky.pde')

            script(src="/js/jquery-1.7.1.min.js")
            script(src="/js/processing-1.3.6.js")
            script.
                var el = document.getElementById('bubbles');
                el.onclick = updateCanvas;
                function updateCanvas() {
                    // TODO tear down old canvas and create a new one
                    var canvas = document.getElementById("bg");
                    canvas.setAttribute('data-processing-sources', '/sketches/confetti.pde');
                    return false;
                }