//- Exhibitions
include _includes/_mixins

h3 Pathways 2013
p Solo exhibition at Brown University's List Gallery
div.galleryContainer
    +galleryImg("pathways/P1000284.JPG")
    +galleryImg("pathways/P1000285.JPG")
    +galleryImg("pathways/P1000286.JPG")
    +galleryImg("pathways/P1000287.JPG")
    +galleryImg("pathways/P1000288.JPG")
    +galleryImg("pathways/P1000289.JPG")
    +galleryImg("pathways/P1000290.JPG")
    +galleryImg("pathways/P1000291.JPG")
    +galleryImg("pathways/P1000292.JPG")
    +galleryImg("pathways/P1000293.JPG")
br
h3 Electrospective 2012
p Joint exhibition with Chris Yamane at Brown University's List Gallery
div.galleryContainer
    +galleryImg("electrospective/galaxy1.jpg")
    +galleryImg("electrospective/04Electrospective.jpg")
    +galleryImg("electrospective/03Electrospective.jpg")
    +galleryImg("electrospective/02Electrospective.jpg")
    +galleryImg("electrospective/01Electrospective.jpg")
    +galleryImg("electrospective/galaxy2.jpg")
    +galleryImg("electrospective/DSC_1466.jpg")
    +galleryImg("electrospective/DSC_1465.jpg")
    +galleryImg("electrospective/perspectivebox1.jpg")
    +galleryImg("electrospective/perspectivebox2.jpg")
    +galleryImg("electrospective/stargazers1.jpg")
    +galleryImg("electrospective/stargazers2.jpg")

// TODO show artist statement?
//+galleryImg("electrospective/Electrospective artist statement.pdf")
