$font-primary: Andale Mono, Tahoma, Geneva, sans-serif
$font-secondary: Andale Mono, sans-serif

$color-text: #000
$color-bg: #fff
$margin-top: 30px

@font-face
  font-family: "romana"
  src: url("../static/fonts/romanabtroman.ttf")

// DEFAULT PAGE STYLE
body
  color: $color-text
  font: normal normal 1.6rem/#{1.65} $font-primary

%meta
  font: normal normal 1.2rem $font-secondary
  letter-spacing: 1px
  text-transform: uppercase

.navigation
  width: 10%
  float: left
  padding: 40px 20px 30px 50px
  background-color: #80bdff

  ul
    list-style: none
  li
    @extend %meta
    padding-bottom: 10px
  li:hover
    font-weight: bold

.main
  background-color: #80bdff
  float: left
  width: 80%
  height: 100%
  margin: 30px 0 40px 20px

a
  text-decoration: none
  color: $color-text
