* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  min-width: 1000;
}
p,
a {
  line-height: 1.6;
  margin: 16;
  text-decoration: none;
}
div {
  float: left;
}
.h1 {
  padding-top: 20;
  font-size: 28;
}
.h2 {
  font-size: 20;
}
/**
Default layout
----------------------
|     |              |
| nav |   content    |
|     |              |
|     |              |
----------------------
 */
.nav {
  width: 220;
  height: 100%;
  background: #fff;
}
.nav p,
.nav a {
  color: #000;
}
.content {
  width: auto;
}
