//- Mixins
    =========================
    This file contains all mixins used across the site. You can add your own
    custom mixins here. To use them, make sure _mixins is included at the top 
    of the file.
    =========================
mixin scriptmix()
    div.isitcallingthis
        script.
            console.log('test')

mixin galleryImg(file, width, height)
    .gallery
        a(target="_blank" href="./content/img/exhibitions/" + file)
            img(src="./content/img/exhibitions/" + file width=width height=height)

mixin image(file, alt, width, height)
    .image
        img(src="./content/img/" + file alt=alt style="max-width:100%")

//- A canvas used to display a processing sketch
mixin canvas(src)
    .canvas
        canvas#bg(data-processing-sources="./content/sketches/" + src)
