//- Mixins
    =========================
    This file contains all mixins used across the site. You can add your own
    custom mixins here. To use them, make sure _mixins is included at the top 
    of the file.
    =========================

mixin image(file, alt, width, height)
    .image
        img(src="./content/img/" + file alt=alt width=width height=height)

//- A canvas used to display a processing sketch
mixin canvas(src)
    .canvas
        canvas#bg(data-processing-sources="./content/sketches/" + src)
