.main-content {
  margin: 50px auto;
  max-width: 800px;
  max-height: 600px;
/**
  ----------------------
  |      |             |
  |  1   |      2      |
  |      |             |
  |      |             |
  ----------------------
   */
}
.main-content p,
.main-content a {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.main-content a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000;
  display: block;
}
.main-content #leftnav {
  width: 25%;
  height: 100%;
  background: #ffecec;
  float: left;
}
.main-content #container {
  width: 75%;
  float: left;
  background: #faecff;
}
.main-content #bg {
  width: 100%;
  height: 100%;
}
