//- Exhibitions
extends default
block content
    p In college I made art. Now I'm too in my head about it.
    p #[a(href="https://www.dropbox.com/sh/4jaorg7xl2a9y8i/AADV710MmxyqHowxZVzefloga?dl=0") pathways 2013]
    p #[a(href="https://www.dropbox.com/sh/kydsyncztizgnt2/AACqz4wxpxAzAQEUwCBZAv8ia?dl=0") electrospective 2012]
