extends default
block content
    #top-content
        #nightsky
            canvas()
            // TODO
            //canvas#bg(data-processing-sources="./content/sketches/" + src)
        #photo1
            img(src="images/exhibit1.jpg", alt="Exhibit 1")

    #bottom-content
        #photo2
            img(src="images/exhibit2.jpg", alt="Exhibit 2")

        #tati-photo
            img(src="images/tati.gif", alt="Tati gif")