//  Navigation
    =========================
    Style of navigation list.
    =========================

.navigation
    width: 150px
    height: 100%
    float: left
    margin: 40px 20px 30px 50px

    ul
        //display: flex
        //justify-content: center
        list-style: none

    li
        @extend %meta
        padding-bottom: 10px

    li:hover
        font-weight: bold