//  Navigation
    =========================
    Style of navigation list.
    =========================

.navigation
    width: 15%
    height: 100%
    float: left
    margin: 30px 0 40px 20px

    ul
        //display: flex
        //justify-content: center
        list-style: none

    li
        @extend %meta
        padding-bottom: 10px
