//  Variables
    =========================
    These variables are used across the Sass files. You can change them here.
    =========================

// Fonts on the site (primary = main text, secondary = headlines / special)

$font-primary: Andale Mono, Tahoma, Geneva, sans-serif
$font-secondary: din, sans-serif

//Akkurat-Mono,Andale Mono,sans-serif
// General colors

$color-text: #000
$color-bg: #fff
$margin-top: 30px

// Width of the main image area


//  Imports
    =========================
    Import fonts and other Sass files.
    =========================

@font-face
    font-family: "romana"
    src: url("../fonts/romanabtroman.ttf")

@font-face
    font-family: "din"
    src: url("../fonts/D-DIN.otf")

// Import files from this folder

@import reset
@import navigation
@import footer
@import gallery

//  General Styles
    =========================

body
    //background: $color-bg
    color: $color-text
    font: normal normal 1.6rem/#{1.65} $font-secondary
    text-align: center

h2,h3,h4
    font-family: $font-primary

h3.title
    padding-bottom: 20px

.main
    float: left
    width: 100%
    height: 100%
    margin: 30px 0 40px 20px
    max-width: 1000px
    text-align: left

.center
    margin: 30px auto 0 auto
    display: inline-block


.index-content
    // resize-index.js will make this visible
    visibility: hidden

    div
        float: left

    // Some simple spacing for the home page
    #top-content
        padding-bottom: 8px
        width: 100%
        height: 100%

    #nightsky
        outline: none
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0) /* mobile webkit */

    #photo1
        padding-left: 15px
        max-width: 989px // TODO use

    #tati-photo
        padding-left: 15px

    // TODO weird name. Used by nightsky.pde
    #bg
        width: 100%
//p
//    margin-bottom: 50px
//
//    a:not(.button)
//        border-bottom: 2px solid $color-text


// Style for special meta text

%meta
    font: normal normal 1.2rem $font-primary
    letter-spacing: 1px
    text-transform: uppercase
    text-align: left
